.format__number {
  font-family: "Noto Sans";

  .decimal {
    font-size: 0.9em !important;
  }
  .subscript {
    font-size: 0.7em;
    vertical-align: sub;
    margin-right: 1px;
  }

  .decimal {
    font-size: 1em;
  }
}
