.order-actions-container {
  background: var(--Shades-Dark-1, #101216);
  display: flex;
  max-width: 320px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  height: 648px;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    top: -0.8px;
    position: relative;
  }

  %label {
    font-family: "Noto Sans";
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
  }

  %type-item-base {
    color: #5e6773;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    position: relative;
  }

  %type-item-underline {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #25d695;
    transition: width 0.1s ease-in-out;
  }

  %type-item-active {
    background: linear-gradient(180deg, #fff 0%, #5e6773 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .order-actions-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    justify-content: space-between;
    overflow-y: scroll;

    .order-balances {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 0.1fr;
      column-gap: 20px;
      .balance-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2px;
        .balance-item-header {
          font-size: 12px;
          line-height: 18px; /* 150% */
        }
        .balance-item-number {
          font-size: 14px;
          font-weight: 500;
          line-height: 21px; /* 150% */
        }
      }
    }

    .order-top {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .order-switch {
        border-radius: 10px;
        background: var(--Shades-Dark-2, #17191e);
        backdrop-filter: blur(5px);
        width: 100%;
        padding: 4px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .order-trade {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .order-trade-types {
          display: flex;
          gap: 24px;

          .type-item {
            @extend %type-item-base;
          }

          .type-item::after {
            @extend %type-item-underline;
          }

          .type-item:hover::after,
          .type-item.active::after {
            width: 100%;
          }

          .type-item.active {
            @extend %type-item-active;
          }
        }
        .market-type-wrapper {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .input-currency {
            font-size: 14px;
            line-height: 21px; /* 150% */
          }
        }
        .limit-type-wrapper {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .advanced-settings-header {
            width: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            margin-top: 8px;
            gap: 8px;

            .advanced-accordion {
              display: flex;
              justify-content: space-between;
              transition: all 0.3s ease-in-out;

              .advanced-label {
                transition: all 0.3s ease-in-out;
                @extend %type-item-base;
              }

              .advanced-label::after {
                @extend %type-item-underline;
              }

              .advanced-label:hover::after,
              .advanced-label.active::after {
                width: 100%;
              }

              .advanced-label.active {
                @extend %type-item-active;
              }

              .advanced-arrow {
                transition: all 0.2s ease-in-out;
                &.active {
                  transform: rotate(-180deg);
                }
              }
            }

            .advanced-settings-content {
              opacity: 0;
              height: 100%;
              max-height: 500px;
              flex-direction: column;
              opacity: 0;
              gap: 8px;
              transition: all 0.1s ease-in-out;
              -webkit-transition: all 0.1s ease-in-out;
              -moz-transition: all 0.1s ease-in-out;
              -ms-transition: all 0.1s ease-in-out;
              -o-transition: all 0.1s ease-in-out;

              &.open {
                max-height: 500px;
                opacity: 1;
                overflow: visible;
              }

              .time-in-force {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .time-in-force-label {
                  @extend %label;
                  color: #868991;
                }
              }

              .good-til-time-selectors {
                display: flex;
                flex-direction: column;
                gap: 8px;
              }
              .dropdown-list {
                max-height: 180px;
              }
              .dropdown-item {
                @extend %label;
                color: #eee;
                width: 100%;
                font-weight: 400;
              }
            }
          }

          .order-input {
            .input-currency {
              font-size: 14px;
              line-height: 21px; /* 150% */
            }
          }
        }
      }
    }

    .order-bottom {
      margin-top: 8px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .order-total {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 6px;
        .order-total-label {
          @extend %label;
        }
        .right {
          display: flex;
          align-items: baseline;
          gap: 4px;
        }
        .order-total-currency {
          @extend %label;
        }
      }
    }
  }

  .available-balances {
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top: 4px solid #0e0e0e;
    .title {
      text-align: left;
    }
    .balance-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    .balance-label {
      @extend %label;
      color: var(--Shades-Carbon, #5e6773);
      line-height: 18px; /* 150% */
      display: flex;
      align-items: center;
    }
  }

  .confirm-order-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    .confirm-order-modal-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      .header-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px; /* 150% */
        margin-top: 4px;
        &.buy {
        }
        &.sell {
        }
      }
    }
    .confirm-order-modal-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 40px;
      .content-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-item-label {
          font-size: 14px;
          line-height: 21px; /* 150% */
        }
        .content-item-text {
          margin-left: auto;
        }
        .content-item-currency {
          font-size: 12px;
          line-height: 24px;
          margin-top: 2px;
          margin-left: 4px;
        }
      }
    }
  }

  .layout-mode {
    width: 18px;
    height: 18px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
  }

  .switch {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    & > p {
      color: var(--Shades-Carbon, #5e6773);
      text-align: center;
      font-family: "Space Grotesk";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 150% */
      letter-spacing: -0.28px;
      transition: all 0.3s ease-in-out;
    }
    &.active {
      &.switch {
      }
      &.switch-buy {
        background: rgba(37, 214, 149, 0.1);
        & > p {
          color: #25d695;
        }
      }
      &.switch-sell {
        background: rgba(222, 15, 62, 0.1);
        & > p {
          color: #ff7386;
        }
      }
    }
  }
}
